<div th:fragment="content" class="container">
    <div th:if="${response.message != null && response.isSuccess}" class="alert alert-success" role="alert">
        <div th:text="${response.message}">...</div>
        <a th:href="${'/play-game/' + playGame.id}" type="button" class="button btn-close">close</a>
    </div>
    <div th:if="${response.message != null && !response.isSuccess}" class="alert alert-danger" role="alert">
        <div th:text="${response.message}">...</div>
        <a th:href="${'/play-game/' + playGame.id}" type="button" class="button btn-close">close</a>
    </div>
    <div class="card mt-5" style="width: 100%; margin: 0 auto;">
        <div th:if="${game != null}" class="card-top p-2">
            <h3 th:if="${playGame.isFinished == false}" class="card-title text-center"
                th:text="${'Competition game ' + game.name}"></h3>
            <h3 th:if="${playGame.isFinished == true}" class="card-title text-center"
                th:text="${'Score for the game ' + game.name}"></h3>
            <button th:if="${playGame.isFinished == false}" type="button" class="btn btn-info btn-lg "
                    style="margin: 20px" data-toggle="modal"
                    data-target="#addUserScoreModal">
                Add user score
            </button>
            <div class="modal fade" id="addUserScoreModal" tabindex="-1" aria-labelledby="addUserScoreLabel"
                 aria-hidden="true">
                <div th:replace="~{fragments::addUserScoreModal}"></div>
            </div>
            <span th:if="${#lists.isEmpty(userGameScores)}">There are no users with scores yet.</span>
            <div th:unless="${#lists.isEmpty(userGameScores)}" class="card-body">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Position</th>
                        <th>User name</th>
                        <th>Score</th>
                    </tr>
                    <tr th:each="userGame, iStat: ${userGameScores}">
                        <td th:text="${iStat.index + 1}"></td>
                        <td th:text="${userGame.userId}"></td>
                        <td th:text="${userGame.score}"></td>
                    </tr>
                    </tbody>
                </table>
                <form th:action="@{/play-game/end}" th:method="post">
                    <input type="hidden" id="playGameID" name="id" th:value="${playGame.id}">
                    <button type="submit" class="btn btn-primary">
                        Finish game
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

