<div th:fragment="content" class="container">
<!--    <div th:if="${response.message != null && !response.isSuccess}" class="alert alert-danger" role="alert">-->
<!--        <div th:text="${response.message}">...</div>-->
<!--        <a href="manage-games" type="button" class="button btn-close">close</a>-->
<!--    </div>-->
<!--    <div th:if="${response.message != null && response.isSuccess}" class="alert alert-success" role="alert">-->
<!--        <div th:text="${response.message}">...</div>-->
<!--        <a href="manage-games" type="button" class="button btn-close">close</a>-->
<!--    </div>-->
    <div th:fragment="content" class="container">
        <div class="card mt-5" style="width: 80%; margin: 0 auto;">
            <div class="card-top text-center p-2">
                <h3 class="card-title">Play game list:</h3>
            </div>
            <div class="modal fade" id="addNewGameModal" tabindex="-1" aria-labelledby="addNewGameModalLabel" aria-hidden="true">
                <div th:replace="~{fragments::addNewGameModal}"></div>
            </div>
            <h1 th:text="${gameId}"/>
            <div class="card-body">
<!--                <table class="table table-striped">-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <th>Game name</th>-->
<!--                        <th>Top scored user</th>-->
<!--                        <th>Top score</th>-->
<!--                        <th>Delete</th>-->
<!--                    </tr>-->
<!--                    <tr th:each="playGame: ${playGameList}">-->
<!--                        <td th:text="${playGame.gameName}"></td>-->
<!--                        <td th:text="${playGame.topScoreUserName}"></td>-->
<!--                        <td th:text="${playGame.topScore}"></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
                <form th:action="@{/play-game/start/047d4ca7-3374-4490-8429-6474b95b4801}" th:method="post">
                    <button type="submit" class="btn btn-primary" >
                        Finished game
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

