<!DOCTYPE html>
<html th:replace="~{fragments::head}"></html>
<body th:replace="~{fragments::body}">
<div th:fragment="content" class="container">
    <div class="card mt-5" style="width: 100%; margin: 0 auto;">
        <div class="card-header">
            <h3 class="card-title">Playing: {{ game.name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p>Description: {{ game.description }}</p>
                </div>
                <div class="col-md-6">
                    <label for="startDate">Start Date:</label>
                    <input type="datetime-local" id="startDate" th:field="${game.startDate}" disabled>
                </div>
            </div>
            <hr>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
                    Add New User
                </button>
            </div>
            <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="addUserBtn">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Score</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="userTableBody">